<h1>Editing tag profile</h1>

<%= render "form", tag_profile: @tag_profile %>

<br>

<div>
  <%= link_to "Show this tag profile", @tag_profile %> |
  <%= link_to "Back to tag profiles", tag_profiles_path %>
</div>
