<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%#= render profile %>
    <%= profile.id %>
    <p>
      <%= link_to "Show this profile", unit_equipment_weapon_profile_path(@unit.id, @equipment.id, @weapon, profile) %>
    </p>
  <% end %>
</div>
