<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <%= link_to "Edit this profile", unit_equipment_weapon_profiles_path(@profile) %> |
  <%= link_to "Back to profiles", unit_equipment_weapon_profiles_path %>

</div>
