<p style="color: green"><%= notice %></p>

<%= render @model %>

<div>
  <%= link_to "Edit this model", edit_model_path( @model)%> 
  <%# if this logic is not being used anymore, you should delete this commented code and refer to comments for explanation instead =%>

  <%#= link_to "Back to models", unit_model_path() %>



  <%#= button_to "Destroy this model", @model, method: :delete %>
</div>
