<div id="<%= dom_id unit %>_fav">
  <%= button_to new_fav_path, method: :post, class: "btn btn-primary" do %>
    <i class="fa-solid fa-star fa-xl"></i>
    <input type="hidden" id="unit" name="query_unit_id" value="<%= unit.id %>">
    <input type="hidden" id="user" name="query_user_id" value="<%= current_user.id %>">
  <% end %>
  
</div>
