<h1>Editing unit ability</h1>

<%= render "form", unit_ability: @unit_ability %>

<br>

<div>
  <%= link_to "Show this unit ability", @unit_ability %> |
  <%= link_to "Back to unit abilities", unit_abilities_path %>
</div>
