<p style="color: green"><%= notice %></p>

<h1>Factions</h1>

<div id="factions">
  <% @factions.each do |faction| %>
    <%= render faction %>
    <p>
      <%= link_to "Show Units for this faction",base_path(faction.name),faction: faction  %>
    </p>
  <% end %>
</div>
