<div id="<%= dom_id weapon %>">
<% @profile_array = weapon.get_profiles%>
<% if @profile_array.length >= 2 %>
    <%= render "weapons/weapon_multiple", weapon: weapon%>
<% else %>
    <%= render "weapons/weapon_single", weapon: weapon, profile: @profile_array %>
<% end %>
</div>
