<div id="<%= dom_id ability %>">
  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>
  <p>
    <strong>Classification:</strong>
    <%= ability.classification %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= ability.description %>
  </p>



</div>
