<div id="<%= dom_id ability %>">
  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ability.description %>
  </p>

  <p>
    <strong>Unit ability:</strong>
    <%= ability.unit_ability_id %>
  </p>

</div>
