<div id="<%= dom_id ability %>">
  <p>Hi</p>
  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ability.description %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= ability.classification %>
  </p>

</div>
