<div id="<%= dom_id ability %>">
  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>
  <% if ability.description != nil %>
    <p>
      <strong>Description:</strong>
      <%= ability.description %>
    </p>
  <%end%>


</div>
