<p style="color: green"><%= notice %></p>

<h1>Abilities</h1>

<div id="abilities">
  <% @abilities.each do |ability| %>
    <%= render ability %>
    <p>
      <%= link_to "Show this ability", ability %>
    </p>
  <% end %>
</div>

<%= link_to "New ability", new_ability_path %>
