<h1>Editing unit keyword</h1>

<%= render "form", unit_keyword: @unit_keyword %>

<br>

<div>
  <%= link_to "Show this unit keyword", @unit_keyword %> |
  <%= link_to "Back to unit keywords", unit_keywords_path %>
</div>
