<div id="<%= dom_id unit %>">
        <div class= "row text-left border">
          <p><%= unit.name %></p>
        </div>
        <div class="row border">
          <% unit.models.each do |model| %>
            <%= render "models/model", model: model %>
          <% end %>
        </div>
</div>
