<div id="<%= dom_id unit %>">
  <table class="table">
    <thead>
      <tr>
        <%= render "units/stats", unit: unit%>
      </tr>
    </thead>
      <tbody>
        <th>

            <%= render "units/weapons", unit: unit%>
        </th>
        <th>
          <p>Abilities</p>
            <%= render"units/ability",unit: unit %>
        </th>
    </tbody>
  </table>
</div>
