<div id="<%= dom_id unit %>">
<%  weapons = unit.get_weapons %>
    <%# Shows melee weapons and range weapons if they exist %>
  <% weapons.each do |weapon_type| %>
  <p>asdfasdfasdfa</p>
    <% weapon_type.each do |weapon| %>
      <ul class="list-group">
        <li class="list-group-item"><%= render "weapons/weapon", weapon: weapon %></li>
      </ul>
    <% end %>

  <% end %>

</div>
