<div id="<%= dom_id unit %>">
<%  weapons = unit.get_weapons %>
    <%# Shows melee weapons and range weapons if they exist %>
  <% weapons.each do |weapon_type| %>
      <% if weapon_type[0] %>
        <% if weapon_type[0].range != 0%>
          <p>Range Weapons</p>
        <% else %>
          <p>Melee Weapons</p>
        <% end %>
      <% end %>
      <ul class="list-group">
        <% weapon_type.each do |weapon| %>
            <li class="list-group-item"><%= render "weapons/weapon", weapon: weapon %></li>
        <% end %>
      </ul>
  <% end %>

</div>
